.Cartao{
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: .4rem .3rem .3rem .03rem #cfcfcf;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 15rem;
    height: 28rem;
}

.Image_Cartao{
    max-width: 100%;
    height: auto;
    aspect-ratio: 2/1.3;
    object-fit: cover;
    margin-bottom: .5rem;
}

.Corpo_Cartao{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.Titulo_Noticia{
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem 0;
}

.Classificacao_Noticia{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}